.dashboard-container {
    display: flex;
    height: 100vh;
    margin-top: 70px;
  }
  
  .dashboard-content {
    margin-left: 251px; /* This pushes the content to the right of the sidebar */
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 100vh; /* Ensure content takes the full viewport height */
    /* transition: margin-left 0.3s ease; */
}

@media screen and (max-width: 768px) {
    .dashboard-content {
      margin-left: 0%; /* This pushes the content to the right of the sidebar */
    /* flex-grow: 1; */
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 100vh; /* Ensure content takes the full viewport height */
    /* transition: margin-left 0.3s ease;  */
  
}
}